pip
altair
graphviz
matplotlib
numpy
pandas
Pillow
PyYAML
requests
scikit_learn
seaborn
shap
streamlit
streamlit_analytics
streamlit_card
streamlit_extras
streamlit_option_menu
streamlit_shap
sko
SciencePlots
prettytable
tabulate
distutils
